@font-face { font-family: Effra_Std_Md; src: url('../data/Effra-Font/Effra_Std_Md.ttf'); }
@font-face { font-family: Effra_Std_Rg; src: url('../data/Effra-Font/Effra_Std_Rg.ttf'); }
@font-face { font-family: Effra_Std_Bd; src: url('../data/Effra-Font/Effra_Std_Bd.ttf'); }
@font-face { font-family: Effra_Std_He; src: url('../data/Effra-Font/Effra_Std_He.ttf'); }

body {
  font-family: Effra_Std_Rg, sans-serif;
}

.all {
  width: 860px;
  margin: 0 auto;
}

.h1, .h2 {
  font-family: Effra_Std_He, sans-serif;
  width: 860px;
  text-align: justify;
}

.h1 {
  color: #79C0C4;
  font-size: 108px;
}

.h2 {
  color: #38383A;
  font-size: 77px;
}

.intro-text {
  width: 100%;
  height: 200px;
  font-family: Effra_Std_Bd, sans-serif;
  text-align: justify;

}

.left, .right {
  width: 49%;
}

.left {
  float: left;
}
.right {
  float: right;
}


.legend { 
  width: 500px; 
  height: 100px;
  position: fixed;
  top: 10px;
}

.legend-entry {
  height: 50px;
}

.cant-live-rect, .can-live-rect {
  float: left;
  /*background-color: grey;*/
  height: 20px;
  width: 20px;
  margin-top: 2px;
}

.cant-live-rect {
  background-color: #DDDEE0;
}

.can-live-rect {
  background-color: #3E8FAD;
}

.legend-text {
  margin-left: 30px;
}

#graphic {
  padding-top: 60px;
}

#sections {
  position: relative;
  display: inline-block;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
}

.step {
  margin-bottom: 200px;
  font-family: Effra_Std_Rg, sans-serif;
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-family: Effra_Std_Rg, sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#map, .id-card-div, .vote-svg {
  display: none;
  position: fixed;
  top: 60px;
  z-index: 1;
  /*margin-left: 100px;*/
}

.bold {
  font-family: Effra_Std_Bd, sans-serif;
}

.photo {
  fill: #FFFDFF;
}

.id-text, .id-pop {
  color: #FFFDFF;
  position: absolute;
}

.id-text {
  font-family: Effra_Std_Rg, sans-serif;
}

.id-pop {
  font-family: Effra_Std_Md, sans-serif;
}

.registry-text {
  font-family: Effra_Std_Md, sans-serif;
  fill: #FFFDFF;
  text-align: center;
  font-size: 40px;
}

.vote-svg {
  margin-top: 200px;
}